.container {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  height: 100%;
  width: 100%;
}

.panel {
  margin: 0.1em;
  background-color: rgb(250, 250, 247);
  border-radius: 2%;
}

.inner-panel {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}